*{
	background-color: lightgrey;
	font-size: 30px;
	color: white;
	text-align: center;
}
.box{
	height: 80px;
	background-color: green;
	margin-bottom: 5px;
}
.box1{
	height: 220px;
	background-color: #34eb7e;
	margin-bottom: 5px;
}
.box2{
	height: 400px;
	background-color: #34ebb7;
	margin-bottom: 5px;
}
.red{
	background-color: lightgreen;	
}